*
!/.**/**

.*cache
.*history
.*logout
.cargo
.choosenim
.deno
.gnupg
.go*
.lesshst
.local
.nimble
.rustup
.ssh-agent
.ssh/authorized_keys
.ssh/known_hosts
.subversion
.tmp
.vim/.netrwhist
.vim/plugged
.viminfo
.wget-hsts
.z
.zig
