[user]
    name = Adrien Gallouët
    email = adrien@gallouet.fr
[sendemail]
    from = Adrien Gallouët <adrien@gallouet.fr>
    smtpEncryption = tls
    smtpServer = smtp.gmail.com
    smtpUser = agallouet@gmail.com
    smtpServerPort = 587
[alias]
    st = status -s -uno
    ci = commit
    br = branch
    fa = fetch --all
    co = checkout
    ls = ls-files
    df = diff
    ds = diff --staged
    ll = log --oneline
    rh = reset --hard
    outgoing = format-patch -M -n -s -o outgoing origin/master
    cleanup = commit -am 'Code cleanup'
    amend = commit --amend --reuse-message=HEAD
[core]
    pager = less -F -X
    editor = vim
[url "git@gitlab.com:"]
    insteadOf = gl:
[url "git@github.com:"]
    insteadOf = gh:
[url "https://gitlab.com/"]
    insteadOf = glh:
[url "https://github.com/"]
    insteadOf = ghh:
[url "aur@aur.archlinux.org:"]
    insteadOf = aur:
[url "https://aur.archlinux.org/"]
    insteadOf = aurh:
