*
!/.**/**

*.bak
*.old
*.swp
*.tmp
.*cache
.*history
.*logout
.brew
.cargo
.choosenim
.config
.deno
.gnupg
.go*
.irssi
.kiss
.lesshst
.local
.nimble
.npm
.rustup
.ssh-agent
.ssh/authorized_keys
.ssh/config
.ssh/known_hosts
.subversion
.sudo_as_admin_successful
.thumbnails
.tmp
.vim/.netrwhist
.vim/plugged
.wasmer
.wget-hsts
.yarnrc
.z
.zcompdump
.zig
